<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title><%= title %></title>
        <!-- <link rel="img" href="favicon.ico"> -->
    </head>
<body>
    <h1>Welcome Stranger</h1>
    <h2>Be our guest...</h2>
    
    <!--Log In Start-->
    <div>
      <form id="userLoginForm" action="/login/loginUserDDBB" method="POST">
        <label form="userLoginForm" for="email">
          Email:
          <input id="email" name="email" type="text" placeholder="Email..." required>
        </label>
        <label form="userLoginForm" for="password">
          Password:          
          <input id="password" name="password" type="password" placeholder="Password..." required>
        </label>
        <button form="userLoginForm" type="submit">Log In</button>
      </form>
    </div>
    <!--Log In End-->

</body>
</html>